@import "tailwindcss";

@theme inline {
  --animate-live-pulse: live-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  
  @keyframes live-pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .3;
    }
  }
}

body {
  @apply bg-slate-950 text-slate-50 font-sans antialiased;
}
